@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.login {
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}
body{
    background-color: #E7E5DF;
}
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
#register-link{
    color: #125E8A;
    text-decoration: none;

}
.btn-primary{
    background-color: #125E8A;
    border: none;
    width: 100%;
}
